@import "tailwindcss";

:root {
  --primary: #1f2937;
  --accent: #cc3333;
  --accent-hover: #ab2525;
  --background-light: #ffffff;
  --background-dark: #111827;
  --neutral-light: #f3f4f6;
  --neutral-dark: #374151;
  --gray-ui: #f5f6f7;
  --gray-ui-hover: #e2e4e6;
  --gray-border: #e5e7eb;
  --primary-red-hover: #b30500;
  --surface-light: #f4f4f7;
  --surface-dark: #1f2937;
  --text-secondary-light: #6b7280;
  --text-secondary-dark: #9ca3af;
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-dark: var(--neutral-dark);
  --color-gray-ui: var(--gray-ui);
  --color-gray-ui-hover: var(--gray-ui-hover);
  --color-gray-border: var(--gray-border);
  --color-primary-red: var(--primary-red);
  --color-primary-red-hover: var(--primary-red-hover);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);
  --color-text-secondary-light: var(--text-secondary-light);
  --color-text-secondary-dark: var(--text-secondary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1f2937;
    --accent: #cc3333;
    --accent-hover: #ab2525;
    --background-light: #ffffff;
    --background-dark: #111827;
    --neutral-light: #f3f4f6;
    --neutral-dark: #374151;
    --gray-ui: #f5f6f7;
    --gray-ui-hover: #e2e4e6;
    --gray-border: #e5e7eb;
    --primary-red-hover: #b30500;
    --surface-light: #f4f4f7;
    --surface-dark: #1f2937;
    --text-secondary-light: #6b7280;
    --text-secondary-dark: #9ca3af;
  }
}

/* body {
  font-family: "Inter", sans-serif;
} */

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-4px);
}

.navbar-scroll {
  backdrop-filter: blur(10px);
}

/* WhatsApp floating button animation */
@keyframes pulse-whatsapp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float {
  animation: pulse-whatsapp 2s infinite;
}

/* Material Symbols font */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
